@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import '~materialize-css/sass/components/color-variables';
@import '~materialize-css/sass/components/color-classes';
@import "variables";
@import '~materialize-css/sass/materialize.scss';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  flex: 1 0 auto;
}

.mb-1 {
  margin-bottom: .8rem;
}

.page-footer {
  padding: 0;
}

.btn {
  background: $primary-color-light;

  &:hover {
    background: $primary-color-dark;
  }
}

.alert {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 1.2rem;
  border-radius: 15px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=date]:focus,
textarea:focus {
  border-bottom: 1px solid $primary-color-dark !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

@media #{$small-and-down} {
  #login-actions {
    :first-child {
      margin-bottom: .8rem;
    }
  }

  .block-on-small-and-down {
    display: block;
    width: 100%;
  }
}